<!DOCTYPE html>
<html lang="en">
    <%-include('../particals/user/head.ejs')%>
<body>
        <!-- Header Start To Here -->
        <%-include('../particals/user/header.ejs')%>
        <!-- Header End To Here -->

        <!-- Mid Start To Here -->
        <section id="mid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Blog Update Form</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            <label for="">Blog Title</label>
                            <input type="text" name="btitle" id="" class="form-control" value="<%=updatedata.title%>">
                            <label for="">Blog Decripations</label>
                            <textarea name="bdecs" id="" class="form-control"><%=updatedata.queots%></textarea>
                            <label for="">Blog Image</label>
                            <input type="file" name="img" id="" class="form-control">
                            <button type="submit" class="form-control btn btn-success  mt-2">Update Blog</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Mid End To Here -->

        <!-- Footer Start To Here -->
        <%-include('../particals/user/footer.ejs')%>
        <!-- Footer End To Here -->
</body>
</html>